name: Generate Disfactory Monthly Report 

# Run this workflow every time a new commit pushed to your repository
on:
  workflow_dispatch:
  push:
    branches:
      - master
      
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@master
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Set up Python 3.7 
      uses: actions/setup-python@v2
      with:
        python-version: 3.7 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests 

    - name: Generate monthly report 
      run: |
        python generate.py

    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

